Repository merico-dev/table, pull requests merged in 2023-02, with the labels that each got.

#603 582 api localization
  api/package.json
  api/src/api_models/config.ts
  api/src/api_models/index.ts
  api/src/controller/account.controller.ts
  api/src/controller/api.controller.ts
  api/src/controller/config.controller.ts
  api/src/controller/dashboard.controller.ts
  api/src/controller/datasource.controller.ts
  api/src/controller/index.ts
  api/src/data_sources/migrations/1675139698071-create-config-table.ts
  api/src/locales/en.json
  api/src/locales/zh.json
  api/src/middleware/ensureAuthEnabled.ts
  api/src/middleware/ensureAuthIsAccount.ts
  api/src/middleware/localization.ts
  api/src/middleware/permission.ts
  api/src/models/config.ts
  api/src/preset/scripts/configure_apikey.ts
  api/src/server.ts
  api/src/services/account.service.ts
  api/src/services/api.service.ts
  api/src/services/config.service.ts
  api/src/services/dashboard.service.ts
  api/src/services/datasource.service.ts
  api/src/services/index.ts
  api/src/services/query.service.ts
  api/src/services/role.service.ts
  api/src/utils/constants.ts
  api/src/utils/i18n.ts
  api/tests/e2e/01_account.test.ts
  api/tests/e2e/05_datasource.test.ts
  api/tests/e2e/06_query.test.ts
  api/tests/e2e/07_job.test.ts
  api/tests/e2e/08_config.test.ts
  api/tests/integration/01_account.test.ts
  api/tests/integration/02_apikey.test.ts
  api/tests/integration/03_role.test.ts
  api/tests/integration/04_dashboard.test.ts
  api/tests/integration/05_datasource.test.ts
  api/tests/integration/06_query.test.ts
  api/tests/integration/08_config.test.ts
  api/tests/integration/constants.ts
  api/tests/unit/validation.test.ts
  yarn.lock
Labels: enhancement, scope:api

#609 608 add maxdays to filterdate range
  api/package.json
  dashboard/package.json
  dashboard/src/filter/filter-date-range/editor.tsx
  dashboard/src/filter/filter-date-range/render.tsx
  dashboard/src/main/actions.tsx
  dashboard/src/model/filters/filter/date-range.ts
  settings-form/package.json
  website/package.json
Labels: enhancement, scope:dashboard

#637 Added support for multi sort
  api/package.json
  api/src/api_models/account.ts
  api/src/api_models/api.ts
  api/src/api_models/dashboard.ts
  api/src/api_models/dashboard_changelog.ts
  api/src/api_models/datasource.ts
  api/src/api_models/job.ts
  api/src/services/account.service.ts
  api/src/services/api.service.ts
  api/src/services/dashboard.service.ts
  api/src/services/dashboard_changelog.service.ts
  api/src/services/datasource.service.ts
  api/src/services/job.service.ts
  api/tests/e2e/01_account.test.ts
  api/tests/e2e/02_apikey.test.ts
  api/tests/e2e/04_dashboard.test.ts
  api/tests/e2e/05_datasource.test.ts
  api/tests/e2e/07_job.test.ts
  api/tests/e2e/08_dashboard_changelog.test.ts
  api/tests/integration/01_account.test.ts
  api/tests/integration/02_apikey.test.ts
  api/tests/integration/04_dashboard.test.ts
  api/tests/integration/05_datasource.test.ts
  api/tests/integration/07_job.test.ts
  api/tests/integration/08_dashboard_changelog.test.ts
  api/tests/unit/validation.test.ts
  dashboard/package.json
  dashboard/src/api-caller/index.ts
  package.json
  settings-form/package.json
  settings-form/src/api-caller/account.ts
  settings-form/src/api-caller/api-key.ts
  settings-form/src/api-caller/datasource.ts
  website/package.json
  website/src/api-caller/dashboard.tsx
Labels: enhancement, scope:dashboard, scope:api

#688 improved duplicate entity error message
  api/src/api_models/account.ts
  api/src/controller/account.controller.ts
  api/src/controller/api.controller.ts
  api/src/controller/dashboard.controller.ts
  api/src/locales/en.json
  api/src/locales/zh.json
  api/src/services/account.service.ts
  api/src/services/api.service.ts
  api/src/services/dashboard.service.ts
  api/src/services/datasource.service.ts
  api/src/utils/i18n.ts
  api/tests/e2e/01_account.test.ts
  api/tests/e2e/02_apikey.test.ts
  api/tests/e2e/04_dashboard.test.ts
  api/tests/e2e/05_datasource.test.ts
  api/tests/integration/01_account.test.ts
  api/tests/integration/02_apikey.test.ts
  api/tests/integration/04_dashboard.test.ts
  api/tests/integration/05_datasource.test.ts
  api/tests/integration/07_job.test.ts
  api/tests/unit/validation.test.ts
Labels: enhancement, scope:api
